.headline {
  width: 40%;
  padding: 10px;
  margin: 100px 0 0 125px;
  line-height: 1.3;
  font-family: 'Roboto', sans-serif;
}

.headline h1 {
  letter-spacing: 1px;
  line-height: 1.6;
  font-weight: 900;
}

.headline ul {
  margin-top: 30px;
  padding-left: 15px;
  width: 450px;
}

.headline li {
	margin: 0;
	padding: 16px 0 16px 42px;
	list-style: none;
	background-image: url("right-arrow.svg");
	background-repeat: no-repeat;
	background-position: left center;
  background-size: 16px;
  font-weight: 400;
}
